{% extends 'webapp/base.html' %}

{% block title %}Order History{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Orders Section -->
        <div class="col-lg-8 mt-2 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Order History</h4>
                    {% if orders %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Status</th>
                                        <th>Total Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                        <tr class="clickable-row" onclick="window.location='{% url 'order' order.order_id %}'">
                                            <td>#{{ order.order_id }}</td>
                                            <td>
                                                <span class="badge 
                                                    {% if order.status == 'Pending' %} bg-warning 
                                                    {% elif order.status == 'Completed' %} bg-info 
                                                    {% elif order.status == 'In Progress' %} bg-success
                                                    {% else %} bg-secondary {% endif %}">
                                                    {{ order.order_status }}
                                                </span>
                                            </td>
                                            <td>Ksh {{ order.order_total }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p class="text-muted">No orders found.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
